@import "tailwindcss";

@font-face {
  font-family: "pricedown";
  src: url("../public/fonts/pricedown.otf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../public/fonts/Montserrat-Medium.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
  background-color: black;
}